:host {
  width: 100%;
  height: 100%;
  display: block;
  background: #EFEFEF;

  .background {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    background: url('/assets/login-background.jpg');
    background-size: cover;
    opacity: 0.5;
  }

  mat-grid-list {

    .password, .user, .login {
      width: 100%;
    }
  }
}
