<mat-grid-list cols="1" rows="2">
  <mat-grid-tile>
      <div class="background">
      </div>
      <div class="logo">
        <h1>MyRy</h1>
        <span>Life is a fuckin race...</span>
      </div>
  </mat-grid-tile>
  <mat-grid-tile class="login-tile">
    <form novalidate (ngSubmit)="login()" [formGroup]="form">
      <mat-form-field class="user">
        <input matInput placeholder="E-Mail" formControlName="user">
        <mat-error *ngIf="form.get('user').hasError('loginFailed')">
            {{ form.get('user').getError('loginFailed').message }}
          </mat-error>
      </mat-form-field>
      <mat-form-field class="password">
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-error *ngIf="form.get('password').hasError('loginFailed')">
          {{ form.get('password').getError('loginFailed').message }}
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button class="login" color="primary">Login</button>
      </div>
      <br>
      <button mat-raised-button class="login" color="secondary" type="button" (click)="register()" [disabled]="form.invalid">Register</button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
