<div class="view">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer-nav">
    <mat-toolbar color="primary">
      <div class="nav">
        <button (click)="selected=0;" [style.opacity]="selected==0?'0.5':1" mat-icon-button routerLink="/vote">
          <mat-icon>directions_car</mat-icon>
        </button>
        <button (click)="selected=1;" [style.opacity]="selected==1?'0.5':1"mat-icon-button routerLink="/rank">
          <mat-icon>reorder</mat-icon>
        </button>
        <button (click)="selected=2;" [style.opacity]="selected==2?'0.5':1" mat-icon-button routerLink="/userprofile">
          <mat-icon>person</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </div>
</div>