
.view{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
}

.content{
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: auto;
}

.footer-nav{
    flex-basis: 30px;
    flex-shrink: 0;
}

.nav{
    width:100%;
    height:100%;
    flex-direction: row;
    display:flex;
}

.nav > button{
    flex-basis: 0;
    flex-grow: 0;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}