<app-header title="Ranks">
  <button mat-icon-button aria-label="search">
    <mat-icon>search</mat-icon>
  </button>
</app-header>
<mat-nav-list class="app-content">
  <ng-container *ngFor="let user of (topUsers$ | async); index as index; last as last">
    <a mat-list-item>
      <img matListAvatar [src]="user.picture" [alt]="user.name">
      <h3 matLine> #{{index+1}} - {{user.name}} </h3>
      <p matLine>
        <span> {{user.location}}, {{user.gender}} </span>
      </p>
    </a>
    <mat-divider *ngIf="!last"></mat-divider>
  </ng-container>
</mat-nav-list>
