<form [formGroup]="carFormGroup" class="car-form-container">
  <!--<app-picture-input *ngFor="let picture of carFormGroup.get('pictures').controls" name="picture" formControlName="picture"></app-picture-input>-->
  <mat-form-field>
    <input (blur)="registerTouch" matInput placeholder="Brand" name="brand" formControlName="brand">
  </mat-form-field>
  <mat-form-field>
    <input (blur)="registerTouch" matInput placeholder="Model" name="model" formControlName="model">
  </mat-form-field>
  <mat-form-field>
    <input (blur)="registerTouch" matInput placeholder="Engine" name="engine" formControlName="engine">
  </mat-form-field>
  <mat-form-field>
    <input (blur)="registerTouch" matInput placeholder="Top Speed" name="topSpeed" formControlName="topSpeed">
  </mat-form-field>
  <mat-form-field>
    <input (blur)="registerTouch" matInput placeholder="Acceleration" name="acceleration" formControlName="acceleration">
  </mat-form-field>
  <mat-form-field>
    <textarea (blur)="registerTouch" matInput placeholder="Description" name="description" formControlName="description"></textarea>
  </mat-form-field>
</form>
