<div class="img">
  <app-image-gallery *ngIf="car && car.pictures" [pictures]="car.pictures"></app-image-gallery>
</div>
<div class="description">
  <ng-content></ng-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <table mat-table>
      <tbody>
        <tr>
          <td>Brand:</td>
          <td>{{ car?.brand }}</td>
        </tr>
        <tr>
          <td>Model:</td>
          <td>{{ car?.model }}</td>
        </tr>
        <tr>
          <td>Engine:</td>
          <td>{{ car?.engine }}</td>
        </tr>
        <tr>
          <td>Top speed:</td>
          <td>{{ car?.topSpeed }}</td>
        </tr>
        <tr>
          <td>Acceleration:</td>
          <td>{{ car?.acceleration }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ car?.description }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</div>
