<form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <app-header title="Profile">
    <button mat-icon-button type="submit" aria-label="save">
      <mat-icon>save</mat-icon>
    </button>
  </app-header>
  <mat-card class="app-content" style="margin-top: 5px">
    <mat-card-title-group>
      <div style="display:flex; width: 100%;">
        <div style="display:flex; flex-direction: column; margin-right: auto; max-width: 50%;">
          <mat-card-title>
            <mat-form-field>
              <input matInput placeholder="nickname" name="name" formControlName="name">
            </mat-form-field>
          </mat-card-title>
          <mat-card-subtitle>
            <mat-form-field>
              <input matInput placeholder="gender" name="gender" formControlName="gender">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="location" name="location" formControlName="location">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="country" name="country" formControlName="country">
            </mat-form-field>
          </mat-card-subtitle>
        </div>
        <!-- TODO: the standalone stuff has to be deleted later -->
        <app-picture-input name="picture" formControlName="picture"></app-picture-input>
      </div>
    </mat-card-title-group>
  </mat-card>
  <mat-card>
    <app-car-input formControlName="car"></app-car-input>
  </mat-card>
</form>
