<app-header title="Profile">
  <button mat-icon-button aria-label="edit" routerLink="edit" *ngIf="!readOnly">
    <mat-icon>edit</mat-icon>
  </button>
</app-header>
<mat-card class="app-content" style="margin-top: 5px">
  <mat-card-title-group>
    <div style="display:flex; width: 100%;">
      <div style="display:flex; flex-direction: column; margin-right: auto; max-width: 50%;">
        <mat-card-title>Natalio</mat-card-title>
        <mat-card-subtitle>LPA, Male</mat-card-subtitle>
      </div>
      <img mat-card-md-image src="https://avatars1.githubusercontent.com/nsacerdote?v=4&s=60" alt="test">
    </div>
  </mat-card-title-group>
</mat-card>

<mat-card>
  <app-car-view [car]="car$ | async" [user]="user$ | async"></app-car-view>
</mat-card>